input,
.input,
.output {
    margin: 2%;
}

.input,
.output {
    padding: 2%;
    border: 1px solid black;
}

.input {
    background-color: darkgray;
}

.output {
    background-color: ghostwhite;
}

.User {
    width: 50%;
    border: 1px solid black;
    margin: auto;
    background-color: gainsboro;
}