.User {
    width: 50%;
    border: 1px solid black;
    padding: 2%;
    margin: auto;
}

.input {
    border: 1px solid black;
    margin: 5%;
    padding: 5%;
}

.output {
    border: 1px solid black;
    margin: 5%;
    padding: 5%;

}